.footer {
    background: inherit;
    background-color: rgb(32, 35, 41);
    color: #eee;
    width: 100%;
    background-clip: border-box;
    padding: 3em auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .footer__container {
        width: 100%;
        max-width: 700px;
        height: 100%;
        margin: 2em auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        & hr {
            width: 90%;
            border: 0;
            border-top: 2px solid #9E9E9E;
        }

        .footer__home {
            font-size: 35px;
            margin-bottom: 1em;

            &:hover {
                transform: translateY(-3px);
            }
        }

        .footer__link-a {
            font-size: 35px;
            margin: 1.5em;

            &:hover {
                transform: translateY(-3px);
            }
        }

        .footer__copy {
            color: rgb(60, 62, 68);
            font-size: 1rem;
            margin-top: 1em;

            & p {
                display: flex;
                justify-content: center;
                align-items: center;

                & a,
                svg {
                    margin: 0 0.4em;
                }

                & a:hover {
                    color: rgb(150, 214, 213);
                }
            }


        }
    }
}