.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #eee;

    .pagination__item{
        text-align: center;
        padding: 8px;
        border: 1px solid rgb(253,249,106);
        border-radius: 5px;
        margin: 0 5px;
        cursor: pointer;
        box-shadow: 0 2px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
        transition: all .7s ease;

        &:hover{
            background-color: rgb(253,249,106);
            color: rgb(60,62,68);
        }
    }

    .pagination__item-active{
        text-align: center;
        padding: 8px;
        border: 1px solid rgb(253,249,106);
        background: rgb(253,249,106);
        color: rgb(60,62,68);
        border-radius: 5px;
        margin: 0 5px;
        cursor: pointer;
        box-shadow: 0 2px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    }
}