.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

    .pagination__item{
        text-align: center;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 0 5px;
        cursor: pointer;

        
    }
}