.card__container {
    width: 100%;
    max-width: 1700px;
    background-color: rgb(36,40,47);
    padding: 2em 0;

    .cards__container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 1em 0;
    }
}