.card__container {
    width: 100%;
    max-width: 1700px;
    min-height: 100vh;
    background-color: rgb(36,40,47);
    padding-bottom: 1em;

    .cards__container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 1em 0;
    }
}